/*------------------------------------*\
    TEXT BLOCK
\*------------------------------------*/  

.text_block{
	@mixin Regular;
	text-align: center;
	max-width: 780px;
	color: $text-color;
	margin: 0 auto 45px;

	&--uppercase{
		text-transform: uppercase;
		font-size: 20px;
		line-height: 24px;
	}

	&--less-margin{
		margin: 0 auto 18px;
		padding: 0 25px;
	}

	&--grey{
		color: #cacaca;
	}
}