/*------------------------------------*\
    HOME
\*------------------------------------*/

.home{

	main.page{
		max-width: none;

		.vc_row{
			max-width: $site-width;
			margin: 0 auto;

			&.full-width-row{
				width: 100%;
				max-width: none;
				margin-left: -30px;
				margin-right: -30px;
				padding-left: 30px;
				padding-right: 30px;
				box-sizing: content-box;

				@mixin breakpoint desktop{
					margin-left: 0;
					margin-right: 0;
					padding-left: 0;
					padding-right: 0;
					box-sizing: border-box;
				}
			}

			&.grey-row{
				background-color: #e9edf0;
			}

			&.red-row{
				background: #e9edf0 url('../../assets/images/bg/red-icons-transp.png') no-repeat center center;
				min-height: 273px;

				@mixin breakpoint tablet_portrait{
					background-image: none;
				}

				@mixin breakpoint tablet_landscape{
					background: #e9edf0 url('../../assets/images/bg/red-icons-transp.png') no-repeat center center;
				}

				.wpb_wrapper{
					margin-left: -30px;
					margin-right: -30px;
					padding-left: 30px;
					padding-right: 30px;

					background: $main-color;
					border-top: 1px solid #661818;
					border-bottom: 1px solid #661818;
					height: 129px;
					margin-top: 68px;

					@mixin breakpoint desktop{
						padding-right: 0;
						padding-left: 0;
						margin-right: 0;
						margin-left: 0;
					}

					.title_element{
						margin: 0 auto;
					}
				}
			}

			&.bg-consulenza{
				background: #e9edf0 url('../../assets/images/bg/banner-consulenza.jpg') no-repeat center center;
				background-size: cover;
				min-height: 493px;
				
				.base-container{
					
					&--advice{
						width: auto;
						position: relative;
						padding: 20px;
						background: $bg-text-slide;
						max-width: 577px;
						margin-top: 50px !important;
						margin-bottom: 30px !important;
						text-align: center;
						
						.title_element{
							margin-top: 0;
						}
					}
				}
			}

			&.top-border{
				border-top: 8px solid #f3f7fa;
			}

			&.top-margin{
				margin-top: 30px;

				@mixin breakpoint tablet_portrait{
					margin-top: 80px;
				}
			}

			&.content-middle{
				border-top: 1px solid #c3c7c8;
				padding-top: 50px;
				margin-top: 20px;

				@mixin breakpoint tablet_landscape{
					max-width: 850px;
					margin: 20px auto 20px;
				}
			}

			&.bottom-padding{

				@mixin breakpoint desktop{
					padding-bottom: 40px;
				}
			}

			&.top-bordered-row{
				border-top: 8px solid #d2d5d8;

				@mixin breakpoint desktop{
					padding-bottom: 40px;
				}
			}
		}
	}

	.page-content{
		width: 100%;
		position: relative;
		z-index: 0;
		border-right: none;
		padding-left: 30px;
		padding-right: 30px;

		@mixin breakpoint desktop{
			padding-right: 0;
			padding-left: 0;
		}
	}

}
